.header, .habit-name, hr, #habit-container, .habit-each, #picture-container, .habit-create {
	text-align: center;
}	

li {
 list-style-type: none;

}


html {
	background-color: black;
	color: gray;
}

.hide {
	display: none;

} 

.header {
	background-image: url('../fixtures/imgs/xzibit.jpg');
	height: 300px;
	width: 100%;
	z-index = -1;
  background-repeat: no-repeat;
  background-size:contain;
  color: #c6c6c6;
  background-position: center; 
	display: block;
}

.tupac {
	text-align: center;
}
#header-bottom {
	padding-top: 200px;
}

.red-dog, .counter {
	color: rgba(200,23,52,0.5);
}


.habit-name, .habit-create {
	color: #c6c6c6 ;
}



