<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <title>Yo D.O.G. Trainer</title>
</head>
<body>

<div class="tupac">
	<div class="header">
  	<h1>Yo <span class="red-dog">D</span>awg</h1>
    <h3 id="header-bottom">I hear you like <span class="red-dog">O</span>perant <span class="red-dog">G</span>rooming Training</h3>  
	</div>
</div> 

  <%= yield %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
