<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <title>Yo D.O.G. Trainer</title>
</head>
<body>

	<div class="header">
	<h1>Yo Dawg</h1>
  <h3>I hear you like Operant Grooming Training</h3>  
	</div>

  <%= yield %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
